@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.eot');
    src: url($font-file + '.eot?#iefix') format('embedded-opentype'),
    url($font-file + '.woff') format('woff'),
    url($font-file + '.ttf') format('truetype'),
    url($font-file + '.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
@include font('CenturyGothic', '../font/CenturyGothic');

$font-stack: CenturyGothic, Lato, serif;
$primary-color: #ffd7e3;
$white: #fff;
$black: #000;
$link-color: $black;
$tangerine-color: #F15F30;
$pink-color: #fe95b4;

$footer-font-color: $black;

.section {
  @extend .z-depth-1;

  h2 {
    margin-top: 0px;
  }
}

footer {
  @extend .z-depth-1;
  font-size: .9rem;
}

.material-icons {
  color: $pink-color;
  &.icon-black {
    color: $black
  }
}

@import "../lib/materialize-css/sass/materialize";


.jw-section {
  width: 48%;
  margin-left: auto;
  margin-right: auto;

  @media #{$medium-and-down} {
    width: 76%;
  }
  @media #{$small-and-down} {
    width: 100%;
  }
}

nav .brand-logo img {
  vertical-align: middle;
}
.jw-address {
    float: right !important;
    width: auto;
}

nav .sidenav-trigger {
  margin-left: 0;
}

.parallax-container {
  @media #{$small-and-down} {
    height: 400px;
  }
}

button:focus {
  background-color: transparent;
}

nav {
  height: 115px;
  line-height: 115px;
  ul a {
    color: $black;
  }
}

//That's implementation of navbar_fixed
@media #{$medium-and-up} {
.resp-navbar-fixed {
    position: relative;
    height: $navbar-height-mobile;
    z-index: 997;

    nav {
      position: fixed;
    }
  }
}