﻿* {
    font-family: Lato, serif;
}

body {
    padding-top: 0;
    padding-bottom: 0;
}

.parallax-container {
    height: 500px;
}

.text-accent-1 {
    color: #ee6e73;
}

a {
    color: inherit;
}

footer {
    font-size: .9rem;
}

.owl-carousel {
    margin-top: 14px;
    margin-bottom: 14px;
}

.jw-section {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .jw-section {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .nav-container {
        width: 100%;
    }

    .jw-section {
        width: 100%;
    }
}

nav {
    background-color: #F7925E;
}

.page-footer {
    background-color: #F7925E;
}

.tangerine-text {
    color: #F15F30 !important;
}

.jw-address {
    float: right !important;
    width: auto;
}

nav .brand-logo {
    left: auto;
    -webkit-transform: none;
    transform: none;
    position: inherit;
}