<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fe95b4" />
    <meta name="google-site-verification" content="JjA_MP5m24eKxL7MZvARfKAL0urFnVUziEuDROeHwO8" />
    <meta name="description" content="{{ SITE_DESCRIPTION }}" />
    <title>{{ SITE_TITLE }}</title>
    {% load static %}
    {% load sass_tags %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "lib/owl.carousel/dist/assets/owl.carousel.min.css" %}" />
        <link rel="stylesheet" href="{% static "lib/owl.carousel/dist/assets/owl.theme.default.min.css" %}" />
        <link rel="stylesheet" href="{% static "lib/magnific-popup/dist/magnific-popup.css" %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/main.scss" %}" />
    {% endcompress %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="icon" type="image/png" href="{% static "/logo.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/logo.png" %}">
    <meta name="icon-author" content="Iconnice" />
    <meta name="icon-url" content="https://www.flaticon.com/free-icon/car_131074#term=car&page=1&position=5" />
</head>
<body>
    <div class="resp-navbar-fixed">
        <nav>
            <div class="container nav-container">
                <div class="nav-wrapper">
                    <a class="brand-logo center" href="{% url "index" %}"><img src="{% static "logo.png" %}" style="width: auto; max-height:100px"></a>
                    <a href="#" data-target="mobile-menu" class="sidenav-trigger hide-on-med-and-down"><i class="material-icons icon-black">menu</i></a>
                    <ul class="hide-on-med-and-down">
                        <li><a class="menu-item" href="{% url "index" %}#about">{{ o_nas_tytul }}</a></li>
                        <li><a class="menu-item" href="{% url "index" %}#car">{{ samochod_tytul }}</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="menu-item" href="{% url "index" %}#offer">{{ oferta_tytul }}</a></li>
                        <li><a class="menu-item" href="{% url "index" %}#gallery">Galeria</a></li>
                        <li><a class="menu-item" href="{% url "index" %}#contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
        <li><a class="menu-item" href="{% url "index" %}#about">{{ o_nas_tytul }}</a></li>
        <li><a class="menu-item" href="{% url "index" %}#car">{{ samochod_tytul }}</a></li>
        <li><a class="menu-item" href="{% url "index" %}#offer">{{ oferta_tytul }}</a></li>
        <li><a class="menu-item" href="{% url "index" %}#gallery">Galeria</a></li>
        <li><a class="menu-item" href="{% url "index" %}#contact">Kontakt</a></li>
    </ul>


    <div>
        {% block content %}
        {% endblock %}
    </div>

    {% compress js %}
        <script src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "lib/materialize-css/dist/js/materialize.min.js" %}"></script>
        <script src="{% static "lib/owl.carousel/dist/owl.carousel.min.js" %}"></script>
        <script src="{% static "lib/magnific-popup/dist/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "js/site.js" %}"></script>
    {% endcompress %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "AutoRental",
            "url": "https://bialymdoslubu.pl",
            "name": "Wynajem samochodów do ślubu.",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+48-535-121-512",
                "email": "bialymdoslubu@gmail.com",
                "availableLanguage": {
                    "@type": "Language",
                    "name": ["Polish", "English"]
                },
                "contactType": "Reservations"
            },
            "currenciesAccepted": "PLN",
            "paymentAccepted": "Cash, Credit Card",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Gdańsk",
                "addressRegion": "Pomorskie",
                "postalCode": "80-034",
                "streetAddress": "Anny Jagiellonki"
            },
            "foundingDate": "2018-05-05",
            "image": "https://bialymdoslubu.pl/media/images/para_1_GqZwbMQ.jpg.1200x510_q85_crop.jpg",
            "priceRange": "$$-$$$",
            "telephone": "+48-535-121-512"
        }
    </script>

    {% compress js inline %}
        {% block scripts %}{% endblock %}
    {% endcompress %}
</body>
</html>
