{% extends "_layout.html" %}
{% load thumbnail %}
{% block content %}
    {% load static %}
<main>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ parallax_1 | thumbnail_url:'parallax' }}" alt="parallax 1" />
        </div>
    </div>
    <div class="section white" id="about">
        <div class="container">
            <div class="jw-section">
                <div class="icon-block">
                    <h2 class="center"><img src="{% static 'man_woman.svg' %}" width="56px" height="56px"></h2>
                    <h5 class="center">{{ o_nas_tytul }}</h5>

                    <p class="light">{{ o_nas | linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ parallax_2 | thumbnail_url:'parallax' }}" alt="parallax 2" />
        </div>
    </div>
    <div class="section white" id="car">
        <div class="container">
            <div class="jw-section">
                <div class="icon-block">
                    <h2 class="center"><i class="medium material-icons">directions_car</i></h2>
                    <h5 class="center">{{ samochod_tytul }}</h5>

                    <p class="light">{{ samochod | linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ parallax_3 | thumbnail_url:'parallax' }}" alt="parallax 3" />
        </div>
    </div>
    <div class="section white" id="offer">
        <div class="container">
            <div class="jw-section">
                <div class="icon-block">
                    <h2 class="center"><i class="medium material-icons">attach_money</i></h2>
                    <h5 class="center">{{ oferta_tytul }}</h5>

                    <p class="light">{{ oferta | linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ parallax_4 | thumbnail_url:'parallax' }}" alt="parallax 4" />
        </div>
    </div>
    <div class="section white" id="gallery">
        <div class="container">
            <h5 class="center">Galeria</h5>
            <div class="owl-carousel owl-theme popup-gallery">
                {% for image in gallery %}
                    <a class="item" href="{{ image.value.url }}">
                        <img src="{{ image.value | thumbnail_url:'gallery' }}" id="{{ image.key }}" alt="{{ image.key }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ parallax_5 | thumbnail_url:'parallax' }}" alt="parallax 5" />
        </div>
    </div>
</main>
<footer class="page-footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="black-text">Kontakt</h5>
                <div class="col s12" style="margin-bottom: 10px;">
                    <a href="mailto:{{ mail }}" class="valign-wrapper">
                        <i class="small material-icons icon-black" style="margin-right: 10px;">email</i>
                        <span>{{ mail }}</span>
                    </a>
                </div>
                <div class="col s12 valign-wrapper">
                    <a href="tel:{{ telefon }}" class="valign-wrapper">
                        <i class="small material-icons icon-black" style="margin-right: 10px;">phone</i>
                        <span>{{ telefon }}</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <a href="https://www.samochody-weselne.pl/" title="Polecamy">
                    <img src="https://static.organizacja-wesel.pl/templates/default/img/banner/katalog/weselny.png" alt="Prestiżowy Katalog Firm Weselnych Poleca"/>
                </a>
            </div>
            <div class="jw-address col float-right">
                <h5 class="black-text">Dane</h5>
                <ul>
                    <li>
                        <span>
                            {{ dane | linebreaksbr }}
                        </span>
                    </li>
                    <li>
                        <span>{{ faktura }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="mailto:mdczaplicki@gmail.com">
                © 2018 Marek Czaplicki
            </a>
        </div>
    </div>
</footer>
{% endblock %}